<ul>
  <li *ngFor="let stack of stacks">
    <a *ngIf="stack.state === stackStates.NotStarted" [routerLink]="['/stack', stack.id]">{{stack.name}}</a>
    <span *ngIf="stack.state === stackStates.InProgress">
      <a [routerLink]="['/stack', stack.id, stack.getResponsesAsString()]">{{stack.name}}</a>
      Du har svart {{stack.getNumberOfResponses()}} av {{stack.getNumberOfQuestions()}} spørsmål
    </span>
    <span *ngIf="stack.state === stackStates.Complete">
      <a [routerLink]="['/result', stack.id, stack.getResponsesAsString()]">{{stack.name}}</a>
      Du har fullført denne tidligere med {{stack.getNumberOfCorrectResponses()}} av {{stack.getNumberOfQuestions()}} rette
    </span>
  </li>
</ul>