<ul class="list-group">
  <li *ngFor="let stack of stacks" class="list-group-item">
    <a *ngIf="stack.state === stackStates.NotStarted" [routerLink]="['/stack', stack.id]">{{stack.name}}</a>
    <span *ngIf="stack.state === stackStates.InProgress">
      <a [routerLink]="['/stack', stack.id, stack.getResponsesAsString()]">{{stack.name}}</a>
      (påbegynt {{stack.getNumberOfResponses()}} av {{stack.getNumberOfQuestions()}} spørsmål)
    </span>
    <span *ngIf="stack.state === stackStates.Complete">
      <a [routerLink]="['/result', stack.id, stack.getResponsesAsString()]">{{stack.name}}</a>
      (fullført tidligere med {{stack.getNumberOfCorrectResponses()}} av {{stack.getNumberOfQuestions()}} rette)
    </span>
  </li>
</ul>