.chat {
  max-height: 100vh;
  overflow-y: scroll;
}

.msg-group {
  margin: 1em 0;
}

.list-group .list-group-item {
  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}