<div *ngIf="stack">
  <div div class="jumbotron">
    <h1>{{stack.name}}</h1>
  </div>
  <p *ngIf="answeredLastCorrectly" class="alert alert-success" role="alert">Du svarte riktig på forrige løfte!</p>
  <p *ngIf="answeredLastCorrectly === false" class="alert alert-danger">Du svarte feil på forrige løfte...</p>
  <div hdoCards [stack]="swingStack" (addCard)="addCard($event.index, $event.card)" (throwLeft)="answer(false)" (throwRight)="answer(true)">
    <div [ngClass]="{'active': index === stack.index}" *ngFor="let promise of stack.promises; let index = index;">
      <div class="next" *ngIf="index + 1 < stack.getNumberOfQuestions()">
        <p class="title">Spørsmål {{index+2}} av {{stack.getNumberOfQuestions()}}</p>
        <p class="body">{{stack.promises[index+1].body}}</p>
      </div>
      <div class="card">
        <p class="title">Spørsmål {{index+1}} av {{stack.getNumberOfQuestions()}}</p>
        <p class="body">{{promise.body}}</p>
      </div>
    </div>
  </div>
  <p>Tror du {{stack.name}} holdt løftet?</p>
  <button (click)="throwLeft()" type="button" class="btn btn-danger">Nei</button>
  <button (click)="throwRight()" type="button" class="btn btn-success">Ja</button>
</div>