<div *ngIf="stack">
  <div div class="jumbotron">
    <h1>{{stack.name}}</h1>
  </div>
  <p *ngIf="answeredLastCorrectly" class="alert alert-success" role="alert">Du svarte riktig på forrige løfte!</p>
  <p *ngIf="answeredLastCorrectly === false" class="alert alert-danger">Du svarte feil på forrige løfte...</p>
  <ul hdoCards>
    <li class="card" [ngClass]="{'active': index === stack.index}" *ngFor="let promise of stack.promises; let index = index;">
      <p>Spørsmål {{index+1}} av {{stack.getNumberOfQuestions()}}</p>
      <p>{{promise.body}}</p>
    </li>
  </ul>
  <p>Tror du {{stack.name}} holdt løftet?</p>
  <button (click)="answer(true)" type="button" class="btn btn-success">Ja</button>
  <button (click)="answer(false)" type="button" class="btn btn-danger">Nei</button>
</div>